@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#0f1115] text-white antialiased;
  margin: 0;
  padding: 0;
  width: 100%;
}

main {
  width: 100%;
}

.container {
  max-width: none !important;
  width: 100% !important;
}
