@import "tailwindcss";

body {
  @apply bg-[#0f1115] text-white antialiased;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

main {
  width: 100%;
}

.container {
  max-width: none !important;
  width: 100% !important;
}
